body {              
    margin: 0;
    width: 100vw;
    max-width: 100%;
}

.header {   
    display: inline-flex;
    width: 100%;
    height: 5.95vw;
    background-color: #FFFFFF;
}

.header .left-header { 
    display: inline-flex;
    width: 27.92vw;
    height: 1.32;
    margin: 2.43vw 0vw 2.22vw 4.17vw;
}

.left-header .hlinks {  
    margin-left: 2.78vw;
    font-size: 0.97vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;                       
}

.left-header .hlinks:nth-child(1) {
    margin-left: auto;
}

.header .logo {
    margin: 1.94vw 0vw auto 14.44vw;
    color: #7D1314;
    width: 6.80vw;
    height: 2.29vw;
}

.header .right-header {
    display: inline-flex;   
    margin: 1.39vw auto 1.18vw 23.54vw;
    width: 19.03vw;
    height: 3.40vw;
    font-size: 0.90vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

.right-header .search {
    margin-left: 3.47vw;
    width: 2.99vw;
    height: 3.40vw;
    padding: 0vw 0vw 0vw 0vw;
    background-color: #FFFFFF;
    border: none;
    z-index: 5;
}

.search .icon {
    width: 1.67vw;
    height: 1.67vw;
    position: relative;
    visibility: visible;
}

.search .title {
    position: relative;
    visibility: visible;
    margin: 0vw 0vw;
    font-size: 0.97vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

.right-header .currency {
    margin-left: 3.47vw;
    width: 2.64vw;
    height: 3.40vw;
    padding: 0vw 0vw 0vw 0vw;
    background-color: #FFFFFF;
    border: none;
    z-index: 5; 
}

.currency .icon {
    width: 1.39vw;
    height: 1.39vw;
    position: relative;
    visibility: visible;
}

.currency .title {
    position: relative;
    visibility: visible;
    margin: 0vw 0vw;
    font-size: 0.97vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

.right-header .cart {
    margin-left: 3.47vw;
    width: 2.98vw;
    height: 3.40vw;
    padding: 0vw 0vw 0vw 0vw;
    background-color: #FFFFFF;
    border: none;
    z-index: 5;
}   

.cart .icon {
    width: 1.67vw;
    height: 1.67vw;
    position: relative;
    visibility: visible;
}

.cart .title {
    position: relative;
    visibility: visible;
    margin: 0vw 0vw;
    font-size: 0.97vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

/* 


END OF HEADER STYLING 


*/

@font-face {
    font-family: 'KyivType-Titling';
    src: url('../fonts/KyivTypeTitling-VarGX.ttf');
    font-weight: 400;
    font-style: normal;
}

.catalogue-section {
    position: relative;
    width: 100%;
    height: 59.03vw;
}

.catalogue-section .poster {
    width: 100%;
    height: 100%;   
}

.catalogue-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

.overlay .title {
    margin: 10.07vw auto 0vw 4.17vw;
    width: 40.97vw;
    height: 14.31vw;
    font-family: 'KyivType-Titling';
    font-size: 5.97vw;
    z-index: 5;                    
}

.overlay button {
    position: relative;
    padding: 0 0 0 0;
    border: none;
    background: none;
    margin: 4.03vw auto auto 4.21vw;
    width: 18.75vw;
    height: 2.29vw;
}

.overlay .button-text {
    top: 0vw;
    left: 0vw;
    position: absolute;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.67vw;
    margin: 0vw 0vw;
}

.overlay .arrow {
    top: 0vw;
    left: 0vw;
    position: absolute;
    width: 2.08vw;
    height: 2.08vw;
    margin-left: 15.69vw;
    margin-top: 0.14vw;   
}